{% extends 'letsgo/base.html' %}

{% block content %}
    <article class="car">
        <aside class="actions">
            {% if user.is_authenticated %}
                <p>
                    Edit this car's info:
                    <a class="btn btn-default" href="{% url 'car_edit' pk=car.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                </p>
                <p>
                    Delete this car:
                    <a class="btn btn-default" href="{% url 'car_remove' pk=car.pk %}">
                        {% include './icons/bootstrap-icons-1.1.0/scissors.svg' %}
                    </a>
                </p>
            {% endif %} 
        </aside>
        <h2>{{ car.identifier }}</h2>
        <p>{{ car.driver|linebreaksbr }}</p>
    </article>
{% endblock %}